/* tailwind input css file */
@tailwind base;
@tailwind components;
@tailwind utilities;


html{
  @apply bg-base-300;
}

#root {
  @apply p-0 m-0 bg-base-300 min-h-screen;
}

.closed {
  min-width: 100%;
}

.Toastify__toast-container {
  width: fit-content;
}

body {
  --toastify-toast-width : 600px;
  height: 100%;
  font-family: Nunito Sans,sans-serif;
  font-weight: 500;
}
/* .open {
  min-width: 80%;
} */